<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @coin.value %>
</p>

<p>
  <strong>Name:</strong>
  <%= @coin.name %>
</p>

<%= link_to 'Edit', edit_coin_path(@coin) %> |
<%= link_to 'Back', coins_path %>
